.hidden
{
    visibility: hidden;
}

ul
{
   list-style: none;
}


/*___________________________________________body*/

body 
{
    font-family: 'Roboto', sans-serif;  
    color:#757575;
    
}

a
{
   text-decoration: none;
   color: inherit;
}

/* ___________________________________________Head */
 .logo
 {
    color: #000000;
  
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
   
    letter-spacing: 0.03em;
 }

 .span-logo
 {
    color: #2196F3;
 }

 .nav-menu
 {
    color: #212121;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
 }

 .nav-item:hover,
 .nav-item:focus,
 .contacts:hover,
 .contacts:focus
 {
   color: #2196F3;
 } 
 
 